@import 'tailwindcss';

@theme {
}

@layer base {
  * {
    --font-sans: 'Pretendard Variable', Pretendard, -apple-system,
      BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
      'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  }

  tr,
  td,
  th {
    @apply min-h-[50px];
  }
}

@layer components {
}

@layer utilities {
  @keyframes spin-once {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .animate-spin-once {
    animation: spin-once 0.5s ease-in-out;
  }

  .shadow-blue {
    box-shadow: 0 0 2px 0 rgba(43, 0, 255, 0.393);
  }
}
